@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  max-width: 100%;
  max-height: 100%;
}

button {
  outline: none;
}

@layer app {
  :root {
    --primary: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --muted: 210 40% 96.1%;
    --destructive: 0 84.2% 60.2%;
  }

  html,
  body,
  #root {
    @apply h-dvh w-dvw bg-primary text-secondary;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --muted: 217.2 32.6% 17.5%;
    --destructive: 0 62.8% 30.6%;
  }
}
